body{
	margin:0px;
	box-sizing:border-box;
}
.nav-group{
	list-style-type: none;
	margin-top:0px;
	padding:0px;
}
.navbrand{
	width:50px;
	margin-top: 0px;
	padding-top: 0px;
	border-bottom: grey;
	padding:3px;
	size: 47vh;
}
.nav-item{
	font-size: 1.2em;
	color:black 
}
.nav-item:hover{
	color:grey;
}
.d-none{
	visibility: hidden;
}
.btn{
	background: white;
	border:solid 1px #7399c6;
	height:35px;
	width:105px;
	letter-spacing:5px;
	margin-left:2px;
	margin-top:auto;
	margin-bottom:auto;
}
.btn{
	color:#7399c6; 
}
.btn:hover{
	background:#7399c6;
	color: white;
}
nav{
	box-shadow: 0px 2px 1px 0.5px grey;
	padding:5px;
	padding-left: 10px;
	padding-left: 5px;
	width: 
}
.firstsection{
	background: url(../img/hero-image.jpg);
	height:200px;
	background-size:cover;
	background-repeat: no-repeat;
	width:100%;
	margin-top:40px;
}
.make-things-possible{
	/*font-size:2em;*/
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top:0px;
	margin-top:0px;

}
.find{
	/*background:#131C40;*/
	text-align: center;
	width:100%;
	color: white;
	margin-top:0px; 
}
.text{
	margin-left:auto;
	margin-left: auto;
	text-align: center;
	background:#060B1E;
	height: 200px;
}
.text2{
	margin-right:auto;
	margin-left:auto;
	text-align: center;
	margin-top: 50px;
	margin-top: 0px;
	width: 100%;
	height: 32
}
.second-section{
	background:#131C40;
	height: 200px;
}
.btns{
	width:80%;
	margin-right:50%;
	background:transparent;
	color:#22A2FF;
	margin-bottom:0px;
	padding-bottom: 0px;
	border: solid 1px #22A2FF;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
}
.btns:hover{
	background: #22A2FF;
	color: white;
}
.text-3{
	margin-left: auto;
	margin-right: auto;
}
@media(min-width: 500px){
	.nav-group{
		display: flex;
		/*font-size: 1em;*/
		margin-right:auto;
		padding: 0px; 
	}
	nav{
		display: flex;
	}
	.d-none{
		visibility: unset;
	}
	.btn{
		background:#fff;
		width: 200px; 
		margin-right:5px;
		margin-bottom: 0px;
	}
	.nav-group{
		margin-left: 20px;
	}
	.nav-item{
		padding: 30px;
	}
	.firstsection{
		width: 100%;
		height: 500px;
		background-size: contain;
		margin-top: 25px;
	}
	.make-things-possible{
		margin-top:-400px;
		/*margin-bottom:auto;*/
		color: white;
		text-align: center;
		margin-left:51px;
		margin-right:51px;
		font-size:1.5em;
	}
	.btns{
		margin-right: auto;
		margin-left: auto;
		/*margin-bottom:30px;*/
	}
	.find{
   	 	text-align: center;
    	color: white;
    	padding: 50px;
    	box-sizing: border-box;
    	/*line-height: 2em;*/
    	width: 80%;
    	/*line-height: 2em;*/
    	margin-left: auto;
    	margin-right: auto;
    	/*margin-bottom: auto;*/
    	/*margin-top: 100px;*/
    	padding-top: 20px;
    	display: flex;
    	background-size: contain;
    	width: 100%;
    	/*height: 20000px;*/
	}

	.find-2{
		width:100%;
		color: white;
		margin-bottom: 30px;
		text-align: center;
	}
	.text{
		width: 50%;
		/*margin-left:auto;*/
		/*margin-right: auto;*/
		font-size:1em;
		text-align: center;
		height: 350;
	}
	.text2{
		margin-top: 7px;
		/*margin-top: 40px;*/
		font-size: 1em;
		line-height: 2em;
		text-align: center;
	}
	.second-section{
		width: 50%;
		margin-left:auto;
		margin-right: auto;
		font-size:1em;
		text-align: center;
		height: 350;
	}
	.firstsection{
		/*height: 50em;*/
	}
 }